*{
	box-sizing: border-box;
}
html{

}
body{
	margin:0;
	padding:0;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size:16px;
	color:#6a737b;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	counter-reset: questions;
}
.body_copy{
	line-height:1.5em;
}
#wrapper{
	/*min-width:1080px;*/
}

.container{
	/*width:1080px;*/
	padding:0px 15px;
	margin:0px auto;
}
.col_wrapper{
	margin:0px -15px;
}
.col_wrapper:after{
	content:'';
	display:block;
	clear:both;
}
.col_wrapper.extra_padding{
	/*margin:0px -50px;*/
}
.col{
	padding:0px 15px;
	float:left;
	min-height:1px;
}
.col_center{
	padding:0px 0px 0px 0px;
	float:center;
	min-height:1px;
}
.extra_padding .col{
	padding:0px 50px;
}
.col_1 {
	width: 8.33333333%;
}
.col_2 {
	width: 16.66666667%;
}
.col_3 {
	width: 25%;
}
.col_4 {
	width: 33.33333333%;
}
.col_5 {
	width: 41.66666667%;
}
.col_6{
	width:50%;
}
.col_7{
	width:58.33333333%;
}
.col_8{
	width:66.66666667%;
}
.col_9{
	width:75%;
}
.col_10{
	width: 83.33333333%;
}
.col_11{
	width: 91.66666667%;
}
.col_12{
	width:100%;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.text-right{
	text-align:right;
}
a{
	color:#203364;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.prize_box {
	padding: 10px;
}

#cash_giveaways {
	width:100%;
}

#cash_giveaways .prizes_bottom-cta {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
}

.section{
	position: relative;
	display: inline-block;
	margin:100px 0px 0px 0px;
	text-align:center;
}
.section_heading{
	font-size:50px;
	font-weight:bold;
	color:#00aaa6;
	margin-top:0px;
	margin-bottom:0.65em;
}
.section_subheading{
	font-size:1.5em;
	font-weight:normal;
	color:#203364;
}
.section_description{
	font-size:25px;
	line-height:1.22em;
	font-weight:normal;
	color:#6a737b;
	margin-bottom:0px;
	padding: 0 15px;
}

.home__prize-title {
	font-size: 2em;
    padding-top: 1em !important;
}






/***    NAV STYLES   ***/
/***********************/
#navbar{
	padding:25px 0px 20px;
	background-color:#fff;
	border-bottom:2px solid #00aaa6;
}
#navbar:after{
	content:'';
	display:block;
	clear:both;
}
#logo{
    height: 50px;
    width: 329px;
	margin-bottom:5px;
	float:left;
}
#logo img {
	border-width: 0px;
}
#user_nav{
	float:right;
	padding-top:3px;
}
#site_nav{
	clear:both;
}
#site_nav .welcome{
	float:right;
	color:#009e9a;
}
#site_nav ul,
#user_nav ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#site_nav li,
#user_nav li{
	line-height:30px;
	float:left;
	margin-right:9px;
	font-size:14px;
	color:#6a737b;
}
#site_nav li:not(:first-child):not(:last-child):before{
	content:"|";
}

#site_nav li a,
#user_nav li a{
	display:inline-block;
	margin-left:9px;
	color:inherit;
	text-decoration:none;
}
#site_nav li:first-child a{
	margin-left:0px;
}
#site_nav li a:hover,
#user_nav li a:hover{
	color:#00467f;
}
#user_nav .languages{
	overflow:hidden;
	height:30px;
	margin:0px;
}
#user_nav .languages:hover{
	overflow:visible;
}
#user_nav .languages ul{
	position:relative;
	padding:0px 0px 5px 9px;
	border-bottom:2px solid #00aaa6;
}
#user_nav .languages:hover ul{
	background-color:#e5f6f6;
}
#user_nav .languages li{
	float:none;
}
#user_nav .languages li:not(:first-child){
	line-height:1.3em;
}
#user_nav .languages li:first-child{
	line-height:30px;
	cursor:default;
}
#user_nav .languages li:first-child:after{
	content:' \f078';
	font-family:FontAwesome;
	font-size:11px;
	vertical-align:bottom
}
#user_nav .languages:hover li:first-child:after{
	content:' \f077';
}
#user_nav .languages li a{
	margin-left:0px;
}

#site_nav .welcome .user_ballots{
	display:inline-block;
	padding:1px 6px 0px 6px;
	margin-left: 0px;
	line-height:22px;
	background-color:#00aaa6;
	color:#fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

#regi_disclaimer {
	padding-bottom:15px;
}


/***    POPUP STYLES   ***/
/*************************/
body.popup-open{
	overflow:hidden;
}
.overlay{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:transparent url('images/overlay_bg.png') repeat;
	z-index:500;
	overflow-x: hidden;
	overflow-y: auto;
}
.popup{
	display:none;
	width:760px;
	margin:100px auto;
	background-color:#fff;
}
.popup_header{
	padding:20px 30px;
	background-color:#00aaa6;
	color:#fff;
}
.popup_header h3{
	margin:0px;
	line-height:40px;
	font-weight:normal;
	font-size:30px;
}
.popup_header .fa-stack{
	font-size:18px;
	margin-top:2px;
}
.popup_header .fa-inverse {
  color: #00aaa6;
}
.popup_content{
	padding:90px 115px;
}
.popup_close{
	display:block;
	cursor:pointer;
	float:right;
}



/***    FORM STYLES   ***/
/************************/
.form_row{
	margin-bottom:20px;

}

.booking_form-row {
	height:100px;
}

.booking_col-left {	
    width: 30%;
    position: relative;
    margin: 0;
    display: block;
    float: left;
    text-align: left;
}

.booking_col-right {
    display: block;
    width: 68%;
    float: right;
    text-align: left;
    margin: 0;
    position: relative;
    padding: 0;
}

.form_row:last-child{
	margin-bottom:0px;
	padding-bottom: 10px;
}
label{
	display:block;
	margin-bottom:20px;
}
.textfield{
	background-color:#eaeaea;
	border:1px solid transparent;
	width:100%;
	height:34px;
	padding: 5px 10px;
	font-size: 14px;
	color: #444;
}


.field_group .textfield{
	background-color:#eaeaea;
	border:1px solid transparent;
	width:75%;
	height:34px;
	padding: 5px 0px;
	font-size: 14px;
	color: #444;
	float:left;
}
.field_group .textfield_fr{
	background-color:#eaeaea;
	border:1px solid transparent;
	width:75%;
	height:34px;
	padding: 5px 0px;
	font-size: 14px;
	color: #444;
	float:left;
}

#booking_form_vacation, #booking_form {
	background-color: #e5f0ff !important;
}

#booking_code_vacation, #booking_code {
	background-color: white !important;
}

#booking_code-t1, #vac_code-t1 {
	line-height: 20px !important;
	width: 100%;
}

#booking_code-t2, #vac_code-t2{
	margin-top:0 !important;
	line-height: 20px !important;
	width: 100%;
}

.booking_or {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 10px;
    top: -12px;
}

.textfield.error{
	border-color:#eb931b;
}
.checkbox{
    display: inline-block;
    position: relative;
}
.checkbox label,
.radio label{
	display:inline-block;
	margin-bottom:0px;
	padding:10px 0px 10px 60px; 
	position:relative;
}
.flight_checkbox {
	display: inline-block;
	position: relative;
}
.flight_checkbox .checkbox label,
.flight_checkbox .radio label{
	display:inline-block;
	margin-bottom:0px;
	padding:0px 15px 0px 34px; 
	position:relative;
}

.flight_checkbox .checkbox label:before{
	display:inline-block;
	content:'';
	position:absolute;
	left:0px;
	top:4px;
	width:20px;
	height:20px;
	border:2px solid #ddd;
	vertical-align:middle;
	margin-right:20px;	

}

.checkbox label:before{
	display:inline-block;
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:34px;
	height:34px;
	border:2px solid #ddd;
	vertical-align:middle;
	margin-right:20px;	
}
.flight_checkbox .checkbox label:after{
	display:none;
	content:'\f00c';
	font-family:FontAwesome;
	position: absolute;
	left: 3px;
	top: 0px;
	font-size: 20px;
}

.checkbox label:after{
	display:none;
	content:'\f00c';
	font-family:FontAwesome;
	position: absolute;
	left: 6px;
	top: 6px;
	font-size: 25px;
}
.checkbox input[type=checkbox]:checked + label:after{
	display:inline-block;
}
.checkbox input[type=checkbox]{
	display:none;
}
.error_msg{
	display:none;
	position: relative;
	padding-left: 25px;
	margin-top:3px;
	line-height:22px;
	clear:both;
}
.error_messages{
	display:none;
	position: relative;
	padding-left: 25px;
	line-height:22px;
}
.error_msg:before,
.error_messages:before{
	content:'\f06a';
	position:absolute;
	left:0px;
	top:-1px;
	margin-right:5px;
	font-family: FontAwesome;
	font-size:22px;
  	color:#eb931b;
}
.success_messages{
	color:#00a160;
}




/***    BUTTON STYLES   ***/
/**************************/
.btn{
	display:inline-block;
	height:34px;
	line-height:34px;
	padding:0px 20px;
	border:1px solid transparent;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}
.btn:hover{
	text-decoration:none;
}
.btn:focus{
	outline:none;
}
.btn.disabled,
.btn[disabled]{
	cursor:default;
}
.btn-default{
	background-color:#203364;
	color:#fff;
}
.btn-default:hover{
	background-color:#005E93;
}
.btn-white{
	background-color:#fff;
	color:#00aaa6;
}
.btn-white:hover{
	background-color:#005E93;
	color:#fff;;
}

.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover{
	background-color:#c7ccd8;
	color:#fff;
}

.prizes__play-btn, .howto__play-btn {
	margin: 3em 0 !important;
}


.info_label{
	position:relative;
}
.info_icon{
	display:inline-block;
	padding-top: 2px;
	height: 20px;
	width: 20px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor:pointer;
	position:relative;
	float:right;
	background-color:#203364;
	color:#fff;
}
.info_icon:before{
	content:'?';
}
.info_box{
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:40px;
	right:-95px;
	width:210px;
	padding:20px;
	background-color:#203364;
	color:#fff;
	font-size:13px;
	text-align:left;
	z-index:10;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition:all 0.3s 0.1s;
	-moz-transition:all 0.3s 0.1s;
	transition:all 0.3s 0.1s;
}
.info_box:after{
	display:inline-block;
	position:absolute;
	left:50%;
	top:-10px;
	margin-left:-10px;
	content:'';
	border:10px solid transparent;
	border-bottom-color:#203364;
	border-top-width:0px;
}
.info_icon:hover + .info_box{
	visibility:visible;
	opacity:1;
}

.hero__banner-over {
	margin: -20px;
}

.home__prizes_enter-btn {
    position: relative;
    display: inline-block;
	margin-top:5em !important;
}



/***    LOGIN REGISTER STYLES   ***/
/**********************************/

#login_submit{
	float:right;
}
#register_submit{
	float:right;
	margin-top:44px;
}
#forgot_password_submit{
	float:right;
}
#reset_submit{
	float:right;
}


#hero_1{
	
	background:transparent url('../images/hero_1.jpg') 80% center no-repeat;
	background-size:cover;
	height:600px;
	padding-top:70px;
	border-bottom:2px solid #00aaa6;
}

#hero_2{
	background:transparent url('../images/hero_2.jpg') 80% center no-repeat;
	background-size:cover;
	height:600px;
	padding-top:70px;
	border-bottom:2px solid #00aaa6;

}

#hero_3{
	background:transparent url('../images/hero_3.jpg') 80% center no-repeat;
	background-size:cover;
	height:600px;
	padding-top:70px;
	border-bottom:2px solid #00aaa6;
}

#banner {
    background: transparent url('images/banner.jpg') 80% center no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    padding: 70px;
    border-bottom: 2px solid #00aaa6;
}

#banner .home__hero {
	background:transparent url('images/banner.jpg') 80% center no-repeat;
	background-size:cover;
	height:600px;
	padding-top:70px;
	border-bottom:2px solid #00aaa6;
}

.bg_overlay {  

   background: rgb(255, 255, 255); /* fallback color */
   background: rgba(255, 255, 255, 0.7);
   padding: 15px 10px 15px 15px;
   width: 400px;

}
.bg_overlay_fr {  

   background: rgb(255, 255, 255); /* fallback color */
   background: rgba(255, 255, 255, 0.6);
   padding: 15px 100px 15px 15px;

}

#banner .section_heading{
	text-align:left;
	color:#203364;
    margin-bottom: 0;
}
#banner .section_description{
	text-align:left;
    margin-top: 10px;
	padding:0;
}
#banner .btn {
	margin-top:0.2em;
}
.btn.scroll_link{
	padding:0px 10px;
	line-height: 33px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

#how_to_enter {
    padding: 50px 0 0 0;
    margin: 0px;
    width: 100%;
}

#how_to_enter img{
	margin-top:80px;
}

.cta_buttons{
	margin-top:30px;
}
.cta_buttons a{
	margin:0px 15px;
}

.lo {
	background:url('images/wj20-front-page__prizes-bg.jpg') 0 0 no-repeat;
	background-size:cover;
	padding: 50px 10%;
	margin-bottom:0px;
}

.lo .section_heading {
	/*background:url('images/wj20-front-page__prizes-bg.jpg') 0 0 no-repeat;*/
	background-size:cover;
	padding: 50px 0 0 ;
	margin-bottom:0px;
	color: #203364 !important;
}

#prizes_banner, .prizes_banner {
    background-size: cover;
    padding: 0px 10% 50px 10%;
    margin-bottom: -5px;
}
#prizes_banner .section_heading, .prizes_banner .section_heading{
	color:#00AAA6;
}
#prizes_banner img{
	margin-top:40px;
}

.prizes_banner .section {
	padding: 50px 0 0 0;
	margin: 0px;
	width:100%;
}

.prize_itembox {
    position: relative;
    display: inline-block;
    height: 200px;
    width:85%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.prize_item {
	position:relative;
    height: 200px;
    max-width: 100%;
}

.hte_bottom {
	padding: 0 0 50px 0;
}


#booking_form{
	border:2px solid #203364;
	padding:23px;
	margin:24px 0px;
	height:130px;
}
#booking_form .form_row{
	text-align:center;
}
#booking_form label{
	display:inline-block;
	margin:0px;
	float:left;
	padding-right: 15px;
	line-height:34px;
	color:#203364;
	text-align: left;
}
#booking_form .field_group{
	display:inline-block;
	/*width:750px;**/
	width:100%;
	text-align:left;
}
.fr #booking_form .field_group{
	/*width:670px;**/
	width:100%;
}

#booking_form_vacation{
	border:2px solid #203364;
	padding:23px;
	margin:24px 0px;
	height:125px;
}
#booking_form_vacation .form_row{
	text-align:center;
}
#booking_form_vacation label{
	display:inline-block;
	margin:0px;
	line-height:34px;
	color:#203364;
	float:left;
	width: 100%;
}
#booking_form_vacation .field_group{
	display:inline-block;
	/*width:750px;**/
	width:100%;
	text-align:left;;
}
.fr #booking_form_vacation .field_group{
	/*width:670px;**/
	width:100%;
}

#bookings {
	margin-top: 50px;
}

#game {
	margin-top:15px;
}

#booking_submit{
	float:right;
}
#vacations_submissions{
	margin: 40px 0 20px;
}
#booking_submissions{
	margin: 40px 0 20px;
}
.submission{
	display:none;
	padding:23px;
	margin:0px 0px 24px;
	line-height:34px;
	text-align:left;
}
.submission:before{
	display:inline-block;
    width: 80%;
	margin-right:23px;
	font-family:FontAwesome;
	font-size:17px;
	vertical-align:top;
	text-align:center;
	color:#fff;
	height:34px;
	width:34px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.submission.valid{
	display:inline-block;
	border:2px solid #00a160;
	color:#00a160;
    width: 100%;
    margin: 0 0 3em 0;
}
.submission.valid:before{
	display:inline-block;
	content:'\f00c';
	background-color:#00a160;
    /*width: 80%;*/
}
.submission.invalid{
	display:inline-block;
	border:2px solid #faa634;
	color:#faa634;
    width: 100%;
}
.submission.invalid:before{
	display:inline-block;
	content:'\f00d';
	background-color:#faa634;
}

#bookings_cta{
	background:#00aaa6 url('images/bookings_cta_bg.gif') center center no-repeat;
	height:312px;
	padding-top:85px;
	border:2px solid #30d6d2;
	text-align:center;
}
#bookings_cta .section_heading{
	color:#fff;
}
#prizes_cta{
	background:#00aaa6 url('images/bookings_cta_bg.gif') center center no-repeat;
	height:312px;
	width:1050px;
	padding-top:65px;
	padding-bottom:100px;
	border:2px solid #30d6d2;
	text-align:center;
	margin-left: auto ;
  	margin-right: auto ;
}

#prizes_cta_fr{
	background:#00aaa6 url('images/bookings_cta_bg.gif') center center no-repeat;
	background-size: 100% 100%;
	height:402px;
	width:1050px;
	padding-top:65px;
	padding-bottom:100px;
	border:2px solid #30d6d2;
	text-align:center;
	margin-left: auto ;
  	margin-right: auto ;
}

#prizes_cta .section_heading{
	color:#fff;
}
#prizes_cta_fr .section_heading{
	color:#fff;
}


#questions{
	text-align:left;
	margin-top:80px;
}
.question{
	padding:0px 23px 0px;
	border:2px solid #6a737b;
	color:#6a737b;
	margin:24px 0px;
	transition:all 0.3s ease;
}
.question.open{
	border-color:#203364;
	color:#203364;
	background-color:#e5f0ff;
}
.question.correct{
	border-color:#00a160;
	color:#00a160;
}
.question.correct.open{
	background-color:#e5f5ef;
}
.question.incorrect{
	border-color:#faa634;
	color:#faa634;
}
.question.incorrect.open{
	background-color:#fdf4e8;
}
.question:before{
	counter-increment: questions;
	content: counter(questions);
	display:inline-block;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	float:left;
	position:relative;
	top:23px;
	background-color:#fff;
	border:2px solid #6a737b;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	transition:all 0.3s ease;
}
.question.open:before{
	border-color:#203364;
}
.question.correct:before{
	content:'\f00c';
	font-family:FontAwesome;
	color:#fff;
	background-color:#00a160;
	border-color:transparent;
}
.question.incorrect:before{
	content:'\f00d';
	font-family:FontAwesome;
	color:#fff;
	background-color:#faa634;
	border-color:transparent;
}
.question .question_text{
	margin:0px;
	padding:30px 55px;
	position:relative;
	cursor:pointer;
}
.question .question_text:after{
	content:'\f078';
	font-family:FontAwesome;
	position:absolute;
	right:0px;
	top:23px;
	line-height:32px;
}
.question.open .question_text:after{
	content:'\f077';
}
.question .answers{
	max-height:0px;
	overflow:hidden;
	transition:max-height 0.3s ease;
}
.question.open .answers{
	max-height:800px;
}
.question .answers ul{
	list-style-type:none;
	margin:0px -12px;
	padding:0px;
}
.question .answers li{
	padding:0px 12px;
	margin-bottom:24px;
}
.question .answers li:nth-child(odd){
  clear: both;
}
.question .answers .radio label,
.question .answers .checkbox label{
	display:block;
	padding:23px;
	padding-left:60px;
	background-color:#fff;
	border:2px solid transparent;
	cursor:pointer;
	color:#6a737b;
}
.question.open:not(.correct):not(.incorrect) .answers .radio label,
.question.open:not(.correct):not(.incorrect) .answers .checkbox label{
	color:inherit;
}

.question .answers li.correct .radio label,
.question .answers li.correct .checkbox label{
	border-color:#00a160 !important;
	color:#00a160 !important;
}
.question .answers .radio label:before,
.question .answers .checkbox label:before{
	display:inline-block;
	content:'';
	position:absolute;
	top:23px;
	left:23px;
	width:17px;
	height:17px;
	border:1px solid;
	vertical-align:middle;
	margin-right:20px;	
}
.question .answers .radio label:before{
	width:16px;
	height:16px;
	top:24px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.question .answers .radio label:after,
.question .answers .checkbox label:after{
	display:none;
	content:'\f00c';
	font-family:FontAwesome;
	position: absolute;
	left: 26px;
	top: 26px;
	font-size: 14px;
}
.question .answers .radio label:after{
	content:'';
	left: 28px;
	top: 29px;
	width:0px;
	height:0px;
	border: 4px solid;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.question .answers .radio input[type=radio]:checked + label,
.question .answers .checkbox input[type=checkbox]:checked + label{
	border-color:initial;
	color:inherit;
}
.question .answers .radio input[type=radio]:disabled + label,
.question .answers .checkbox input[type=checkbox]:disabled + label{
	cursor:default;
}
.question .answers .radio input[type=radio]:checked + label:after,
.question .answers .checkbox input[type=checkbox]:checked + label:after{
	display:inline-block;
}
.question .answers .radio input[type=radio],
.question .answers .checkbox input[type=checkbox]{
	display:none;
}
.question .answers .submit_bar{
	padding-bottom:23px;
}
.question .answers .question_response{
	position:relative;
	padding:20px 23px 20px 73px;
	margin:0px 0px 23px;
	color:#fff;
	line-height:25px;
}
.question.correct .answers .question_response{
	background-color:#00a160;
}
.question.incorrect .answers .question_response{
	background-color:#faa634;
}
.question .answers .question_response:before{
	display:inline-block;
	position:absolute;
	left:23px;
	height:30px;
	width:30px;
	line-height:30px;
	font-size: 34px;
	vertical-align: middle;
}
.question.correct .answers .question_response:before{
	content:'\f118';
	font-family:FontAwesome;
}
.question.incorrect .answers .question_response:before{
	content:'\f119';
	font-family:FontAwesome;
}




#leaderboard{
	padding: 0 0 5em 0;
	width: 100%;
}

#leaderboard table{
	border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    overflow:hidden;
}
#leaderboard tr{

}
#leaderboard th,
#leaderboard td{
	padding:0px 30px;
	text-align:left;
	height:80px;
}
#leaderboard th:first-child,
#leaderboard td:first-child{
	width:250px;
}
#leaderboard_popup #leaderboard th:first-child,
#leaderboard_popup #leaderboard td:first-child{
	width:130px;
}

#leaderboard th:last-child,
#leaderboard td:last-child{
	text-align:right;
}

#leaderboard th{
	background-color:#00aaa6;
	color:#fff;
}
#leaderboard td{
	background-color:#fff;
	color:#203364;
	border-bottom:2px solid #203364;
}
#leaderboard thead td{
	background-color:#e5f6f6;
	color:#00aba8;
	border-bottom:2px solid #00aaa6;
}
#leaderboard .ballots_wrapper{
	position:relative;
	height:100%;
	line-height:80px;
}
#leaderboard .ballots{
	display:inline-block;
	padding:2px 6px 0px 6px;
	line-height:22px;
	text-align:center;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	cursor:pointer;
	position:relative;
	z-index:100;
}
#leaderboard .ballots:hover{
	background-color:#203364;
	color:#fff;
}
#leaderboard .ballot_breakdown{
	display:block;
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:0px;
	right:-200px;
	height:100%;
	width:auto;
	padding:9px 20px;
	background-color:#203364;
	color:#fff;
	line-height:21px;
	text-align:left;
	white-space:nowrap;
	-webkit-transition:all 0.3s 0.1s;
	-moz-transition:all 0.3s 0.1s;
	transition:all 0.3s 0.1s;
}
#leaderboard .ballot_breakdown:after{
	display:inline-block;
	position:absolute;
	right:-10px;
	top:50%;
	margin-top:-10px;
	content:'';
	border:10px solid transparent;
	border-left-color:#203364;
	border-right-width:0px;
}
#leaderboard .ballots:hover + .ballot_breakdown{
	visibility:visible;
	opacity:1;
	right:60px;
}




/*FOOTER*/


#footer{
	background-color:#1f305d;
	color:#fff;
	padding-top:80px;
	height:260px;
}
#footer_nav{
	text-align:center;
}
#footer_nav ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#footer_nav li{
	display:inline;
	line-height:30px;
	margin-left:9px;
	font-size:16px;
}
#footer_nav li:not(:last-child):after{
	content:"|";
}
#footer_nav a{
	color:inherit;
	text-decoration:none;
}
#footer_nav a:hover{
	text-decoration:underline;
}
#footer_nav li a{
	display:inline-block;
	margin-right:9px;
}
#footer .copyright{
	font-size:14px;
	font-style:italic;
	line-height:21px;
}


.nojs_alert{
  position: absolute;
  position: fixed;
  z-index: 111111;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #A29330;
  background: #FDF2AB no-repeat 13px center url('//browser-update.org/img/dialog-warning.gif');
  text-align: left;
  font-family: Arial,Helvetica,sans-serif;
  color: #000;
  font-size: 12px;
}
.nojs_alert div {
  padding: 5px 36px 5px 40px;
}

.page-hr {
	width:390px;
	margin-top: 90px;
	margin-bottom: 90px;
	border-width:1px;
	border-color:#dadada;
	border-style:solid;
}

h3.prize_heading {
	font-size: 30px;
	font-weight:bold;
	color:#00aaa6;
	margin-top:0px;
	margin-bottom: 90px;
}

table.prize_table {
	width: 100%;
	border-spacing:0px;
	margin-bottom: 90px;
}

tr.header_row {
	background-color: #00aaa6;
}

/*PRIZE TABLE*/

.prize_table tr td{
	border-bottom: 2px solid #dadada;
	color: #3a4871;
}

.prize_table th {
	color: #FFF;
	background-color: #00aaa6;
	width: 50%;
	border: none;
	font-size: 16px;
}

.prize_table th:nth-of-type(1) {
	text-align: left;
	padding: 15px 0px 15px 20px;
}
.prize_table th:nth-of-type(2) {
	text-align: right;
	padding: 15px 20px 15px 0px;
}

.prize_table td:nth-of-type(1) {
	text-align: left;
	padding: 15px 0px 15px 20px;
}
.prize_table td:nth-of-type(2) {
	text-align: right;
	padding: 15px 20px 15px 0px;
}

