/*********************/
/**   Page styles   **/
/*********************/
html{
	width:100%;
	height:100%;
}
body{
	background-color:#fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
#wrapper{
	min-width:910px;
}
#topbar{
	width:100%;
	padding:10px 0px;
	background:#fff url('images/topbar.gif') repeat-x center bottom;
	text-align:center;
}
#navbar{
	background-color:#203364;
	color:#fff;
	border-bottom:1px solid #ddd;
}
#topbar .inner,
#navbar .inner{
	position:relative;
	width:910px;
	margin:0 auto;
}
#navbar .nav{
	list-style-type: none;
	margin:0px;
	padding:0px;
	height:30px;
}
#navbar .nav li{
	float:left;	
}
#navbar .nav a{
	display:block;
	line-height:30px;
	padding:0px 10px;
	margin-right:10px;
	color:inherit;
	text-decoration: none;
}
#navbar .nav a:hover{
	background-color:#00aaa6;
}
#logo{
	display:inline-block;
}
#page{
	width:910px;
	margin:0 auto;
	padding-bottom:15px;
}
#full_width{
	width:100%;
	padding:0px 20px 15px;
	max-width:100%;
	overflow:auto;
}
.page_title{
	color:#222;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing:0px;
	margin-top:10px;
	margin-bottom:40px;
	text-align:center;
}
.page_subtitle{
	color:#222;
	text-transform:uppercase;
	font-size:18px;
	letter-spacing:0px;
	margin-top:10px;
	text-align:center;
}



/************************/
/**   Generic styles   **/
/************************/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0px;
	margin-bottom:0.6em;
}
.col-wrapper{
	margin:0px -10px;
}
.col-wrapper:after{
	display:block;
	content:'';
	clear:both;
}
.col{
	padding:0px 10px;
	float:left;
}
.col-10{
	width:10%;
}
.col-40{
	width:40%;
}
.col-50{
	width:50%;
}
.btn {
	display:inline-block;
	line-height:34px;
	padding:0px 20px;
	border:1px solid transparent;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	vertical-align: middle;
}
.btn:hover{
	text-decoration: none;
}
.btn-sm {
	padding: 3px 8px;
	font-size: 11px;
	line-height: 1.5;
	border-radius: 3px;
	font-weight:normal;
}
.btn-default {
	background-color:#203364;
	color:#fff;
}
.btn-default:hover {
	background-color:#005E93;
}


.alert{
	position:relative;
	background-color: #fdf4e8;
	border:2px solid #faa734;
	color:#faa634;
	text-align:center;
	font-weight:bold;
	padding:20px 80px;;
	margin-bottom:30px;
}
.alert:before{
	position:absolute;
	left:15px;
	top:50%;
	width:50px;
	font-family: FontAwesome;
	content:'\f1db';
	color:#faa634;
	font-size:50px;
	line-height:50px;
	margin-top:-25px;
	text-align:center;
}
.alert:after{
	position:absolute;
	left:15px;
	top:50%;
	width:50px;
	font-family: FontAwesome;
	content:'\f12a';
	color:#faa634;
	font-size:30px;
	line-height:50px;
	margin-top:-24px;
	text-align:center;
}

.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.not_bold{
	font-weight:normal !important;
}
.clear{
	clear:both;
}



/**************************/
/**   Dashboard styles   **/
/**************************/
#add_event {
	margin-bottom: 15px;
	float: right;
}
#events{
	
}
#edit_event_form{
	
}
#new_event,
#edit_event,
.event{
	padding: 20px;
	margin-bottom: 15px;
}
#new_event,
#edit_event{
	background-color: #e5f0ff;
	color:#203364;
	border: 2px solid #203364;
}
#new_event{
	display:none;
}
.event{
	position:relative;
	background-color: #fff;
}
.event.active{
	color:#203364;
	border:2px solid #203364;
}
.event:last-child{
	margin-bottom: 0px;
}
.event_name{
	
}
.event_dates{
	
}
.event_questions{
	
}
.event_actions{
	position:absolute;
	bottom:20px;
	right:20px;
}
.delete_event_form{
	display:inline-block;
}

.event_tabs{
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.tab{
	display:block;
	float:left;
	margin:0px;
	padding:10px;
	margin-top:1px;
	width:50%;
	text-align:center;
	line-height:18px;
	background-color: #dfdfdf;
	color:#666;
	cursor: pointer;
	border:1px solid #aaa;
	border-bottom:2px solid #203364;
	border-right-width:0px;
}
.tab:hover{
	color:#000;
}
.tab.active,
.tab.active:hover{
	margin-top:0px;
	background-color: #e5f0ff;
	color:#203364;
	font-size:16px;
	line-height:20px;
	cursor: default;
	border:2px solid #203364;
	border-bottom:none;
}
.tab:not(.active):last-child{
	border-right-width:1px;
}
.tab.active + .tab{
	border-left-width:0px;
}
.event_panes{
	background-color: #e5f0ff;
	padding:15px;
	border:2px solid #203364;
	border-top-width:0px;
	clear:both;
}
.pane{
	display:none;
}
.pane.active{
	display:block;
}





/*******************************/
/**   Event Page styles   **/
/*******************************/
#add_question {
	margin-bottom: 15px;
	float: right;
}
#questions{
	
}
#new_question{
	display:none;
}
#new_question,
.question{
	background-color: #e5f0ff;
	color:#203364;
	padding: 20px;
	margin-bottom: 15px;
	border:2px solid #203364;
}
.question .question_header{
	border-bottom:2px solid #203364;
	margin-bottom:15px;
	font-weight:bold;
}
.question .question_text{
	margin-bottom:10px;
}
.question .answers{
	margin-bottom:10px;
}
.question .answer p:before{
	display:inline-block;
	content:'';
	width:17px;
	height:17px;
	vertical-align:middle;
	margin-right:10px;	
}
.question .answer.correct p:before{
	content:'\f00c';
	font-family:FontAwesome;
}
.question .question_response{
	margin-bottom:10px;
}
.question .question_actions{
	text-align:right;
}
.question label{
	display:inline-block;
	font-weight:bold;
	margin-bottom:0.3em;
}
.delete_question_form{
	display:inline-block;
}
#edit_question_form{
	
}
#edit_question_form #answers{
	border:1px solid #203364;
	padding:10px 0px 5px;
}
#edit_question_form .answer{
	margin-bottom:5px;
}
#edit_question_form #point_value{
	display:inline-block;
	width: 55px;
}
#edit_question_form.true-false .delete_answer,
#edit_question_form.true-false #add_answer{
	display:none;
}
.correct_check{
	display:inline-block;
	margin:10px 0px;
}
.delete_answer{
	display:inline-block;
	margin:9px 0px;
	color:#dd0000;
}
.form-row{
	margin-bottom:15px;
}
.form-row:last-child{
	margin-bottom:0px;
}

.form-style label{
	display:inline-block;
	margin-right:5px;
	margin-bottom:0.3em;
	font-weight:bold;
}
.form-style input[type=text],
.form-style textarea{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-style textarea{
	height:auto;
}
.error_msg{
	color:#dd0000;
	display:none;
	line-height:1.5;
}
.error_msg i{
	margin:0px 5px;
}






table{
	width:100%;
	font-size:16px;
}
th{
	text-align:left;
	color:#fff;
	background-color:#00aaa6;
}
td{
	border-bottom:2px solid #203364;
	color:#6a737b;
}
#entrants table th,
#entrants table td,
#bookings table th,
#bookings table td{
	height:80px;
	padding:0px 10px;
}
#entrants table th:first-child,
#entrants table td:first-child,
#bookings table th:first-child,
#bookings table td:first-child{
	padding-left:30px;
}
#entrants table th:last-child,
#entrants table td:last-child,
#bookings table th:last-child,
#bookings table td:last-child{
	padding-right:30px;
	text-align:right;
}

#entrants table{
	overflow:hidden;
}
#entrants .points{
	position:relative;
	height:100%;
	margin-right:-30px;
	padding-right:30px;
	line-height:80px;
}
#entrants .points .points_breakdown{
	display:block;
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:0px;
	right:-200px;
	height:100%;
	width:auto;
	padding:9px 20px;
	background-color:#203364;
	color:#fff;
	font-size:14px;
	line-height:21px;
	text-align:left;
	white-space:nowrap;
	-webkit-transition:all 0.3s 0.1s;
	-moz-transition:all 0.3s 0.1s;
	transition:all 0.3s 0.1s;
}
#entrants .points .points_breakdown a{
	color:inherit;
}
#entrants .points:hover .points_breakdown{
	visibility:visible;
	opacity:1;
	right:0px;
}
#export{
	margin-bottom: 15px;
	float:right;
}

.highlight{
	color:#00aaa6;
}




p{
	margin:0 0 5px;
}

a{
	color:#00aaa6;
	text-decoration:none;
	outline:none;
}
a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}
